body{
    background-color: rgb(59, 55, 55);
    margin-left: 40px;
    width: 100%;
}

h1{
    color:rgb(165, 238, 155);
}

h2{
    color:rgb(190, 255, 136);
}

h3{
    color:rgb(255, 168, 168);
}

p{
    color:lightgray;
    width: 100%;
}

img{
    float:left;
    margin-right: 40px;
}

table {
    text-align: left;
}

td, th{
    padding: 7px;
}